body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.btn, .btn:visited{
  border-radius: 0; /* Quita el border-radius */
  background-color: #01523f; /* Cambia el color de fondo a #01523f */
  border: none; /* Quita cualquier borde que pueda estar presente */
  color: white;
}

.btn:hover, .btn:focus, .btn:focus-visible, .btn:checked{
  background-color: #008868;
  color: white;
}
  
.link{
  color: #008868;
}

.link:hover, .link:focus, .link:visited, .link:focus-visible{
  color:#01523f;
}
.nav-link:focus{
  color:#01523f !important;
}

.btn-principal{
  font-size: 1.25em;
}

.navbar{
  background-color: #001506;
}

.nav-title a, .nav-title a:focus, .nav-title a:visited, .nav-title a:focus-visible{
  color:white;
}

.nav-title a:hover{
  text-decoration:solid dashed white;
}

.dropdown-title{
  color: white;
  border-bottom: 1px solid #001506;
}

.dropdown-title:hover{
  color: white;
  background-color: #008868;
}

.dropdown-menu{
  margin-top: 1em;
  border: 1px solid #001506;
  background-color: #01523f;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: #03a17c;
}

.social-links a {
  display: inline-block;
}

.social-links a i {
  font-size: 1.5em; /* Ajusta según sea necesario */
  width: 1.5em; /* Ancho en em */
  height: 1.5em; /* Altura en em */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
}

main.container {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }
  
  /* Establece la anchura máxima del main */
main.container {
  max-width: 100%;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Establece la altura al 100% de la ventana gráfica (viewport height) */
}

.hero-background {
  background-size: cover;
  background-position: center;
  height: 100%; /* Ajusta la altura al 100% */
}

.hero-content {
  max-width: 40%; /* Establece un ancho máximo para mantener la legibilidad */
}

.hero-content h5{
  max-width: 75%;
}

.hero-content h1,
.hero-content h5 {
  background-color: rgba(255, 255, 255, 0.85); /* Blanco con una opacidad del 85% */
  padding: 0.1em; /* Ajusta según sea necesario */
  display: inline-block; /* Para que el fondo abarque solo el contenido del texto */
}

.section-home img {
  width: 12em;
  height: 10em;
  object-fit: cover;
}

.seccion-secundaria i{
  background-color: #01523f;
  color: white;
  border-radius: 50%;
  padding: 1.25em; 
  width: 2em; 
  height: 2em; 
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

footer{
  background-color: black;
}

.menu-lateral{
  background: #363636;
}
.flex-column > a, ul > li{
  text-decoration: none;
  color: white;
}
.alert{
  background-color: #01523f;
  color: white;
  text-align: center;
  border-radius: 0;
}
.card-header {
  background-color: #01523f !important;
  color: white;
  
}
.card-body{
  background-color: #363636;
}
.tarea > div{
  background-color: #444444;
  color: white;
}

.acordeon-header{
  background-color: #363636!important;
  border-color: white !important;
  border-width: 1px !important;
}
.acordeon-header > h5 > button, .acordeon-header > h5 > button:hover{
  color: white;
  text-decoration: none;
}
.card {
  border: none !important;
}
.categoria-seleccionada{
  background-color: #444444 ;
}
.table > thead > tr > th, .table > tbody > tr > td, .table > tbody > tr > th {  
  background-color: #363636 ;
  color: white;
}

input{
	height: 2.5em;
	padding: 4px 8px 4px 8px;
	background: #F7F6F6;
	color: #444444;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	text-align: left;
}
textarea{
  height: 7em;
	padding: 4px 8px 4px 8px;
	background: #F7F6F6;
	color: #444444;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	text-align: left;
}
.avatar{
	background: #FFFFFF;
	border-color: #606060;
	border-width: 2px;
	border-style: solid;
}
.navbar-clase{
  background: #444444;
}
.container-clase{
  background: #232323;
  color: white;
}
.foto-perfil{
  width: 12em;
  height: 12em;
  border-radius: 50%;
}
.boton-llamada{
  margin-right: 1.5em;
}
.offcanvas{
  background: #232323;
  color: white;
}
.chat-message {
  padding: 10px;
  border-radius: 10px;
  background-color: #01523f;
  text-align: right;
  float: right;
}
.chat-message-adversary {
  padding: 10px;
  border-radius: 10px;
  background-color: #444444;
  text-align: left;
  float: left;
}


/*BUSQUEDA*/
.search-section {
  background-color: #01523f;
  color: white;
  padding: 10px;
}

.course-image {
  width: 14em; 
  height: 11.75em; 
  object-fit: cover;
}

.border-grey{
  border-color: #606060;
}


/* CURSO EJEMPLO/DETALLE*/


.course-image-detalle{
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  padding: 1rem; 
}

.row {
  padding: 1rem; 
margin-top: 1em;

}

.mt-4{
  margin-top: 1em;
  margin-bottom: 2em;

}


.recursos-container {
  margin-bottom: 1.5rem; 
  padding: 1rem;
  padding-left: 2rem; 
}

.recursos-list {
  list-style: none; 
  padding: 0; 
}

.recursos-item {
  margin-bottom: 1rem; 
  display: flex; 
  align-items: baseline; 
}

.recursos-item strong {
  color: black;
  min-width: 150px; 
  display: inline-block; 
  margin-right: 1rem; 
}



.recursos-link {
  color: #007bff;
  text-decoration: none;
}

.recursos-link:hover {
  text-decoration: underline; 
}

.titulo-curso {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.titulo-curso:hover{
  color: inherit;

}